<!DOCTYPE html>
<html>
  <head>
    <title>My Landing Page</title>
    <link rel="stylesheet" href="static/landing.css">
  </head>
  <body>
    <div class="container">
      <h1 class="title">Welcome to My Landing Page</h1>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae enim nisi. Aliquam vel dictum tortor. Sed faucibus turpis at elit commodo, eget lacinia elit luctus. Morbi tempor ultrices lobortis. Etiam in bibendum nisi.</p>
      <a class="nav-item nav-link" id="Dashboard" href="/dashboard"><button class="cta-button">Continue to Dashboard</button></a>
    </div>
  </body>
</html>
