body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .section {
    flex: 1;
    padding: 40px;
    background-color: #242a45;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #fff;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .section:hover {
    transform: translateY(-10px);
  }
  
  .sending-section {
    margin-right: 20px;
  }
  
  h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="file"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #e0e0e0;
    color: #333;
    font-size: 18px;
  }
  
  button[type="submit"],
  button#receive-button {
    background-color: #17b978;
    color: #ffffff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover,
  button#receive-button:hover {
    background-color: #13a366;
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .section {
      margin-bottom: 20px;
    }
  
    .sending-section {
      margin-right: 0;
    }
  }
  