<html>
    <head>
        <link rel="stylesheet" href="static/featurelist.css">
    </head>

    <body>
      <div class="card-container">

        <div class="card">
          <div class="card-heading">
            <h2>TCP Timestamping</h2>
          </div>
          <div class="card-body">
            <p>It sends packet based on the last bit of the timestamp of the packet generation</p>
            <a class="nav-item nav-link" id="timestamp" href="timestamp"><button class="button">Start</button></a>
          </div>
        </div>

        <div class="card">
          <div class="card-heading">
            <h2>Packet Burst transfer</h2>
          </div>
          <div class="card-body">
            <p>It depends on the clustering of packet based on the arrival time of the packet</p>
            <a class="nav-item nav-link" id="burst" href="burst"><button class="button">Start</button></a>
          </div>
        </div>
        
        <!-- add more cards here if needed -->
      </div>
      
          
    </body>
</html>