<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/dashboard.css">
</head>
<body>
    <div class="container">
        <div class="box">
          <h2 class="heading">Hidden Communication</h2>
          <p>Click the button to enter the Hidden Communication dashboard. This hidden communication uses covert channels to hide the data during network communication</p>
          <a class="nav-item nav-link" id="covertdash" href="covert"><button class="button">Explore</button></a>
        </div>
        <div class="box">
          <h2 class="heading">Hide File Content</h2>
          <p>Click the button to enter content hiding dashboard where you get variety of methods to hide content inside another file</p>
          <a class="nav-item nav-link" id="localdash" href="local"><button class="button">Explore</button></a>
        </div>
      </div>
      
</body>
</html>