<!DOCTYPE html>
<html>
  <head>
    <title>My Landing Page</title>
    <link rel="stylesheet" href="static/landing.css">
  </head>
  <body>
    <div class="container">
      <h1 class="title">Welcome to hideNseek</h1>
      <p class="description">An all in one data hiding software to protect privacy. The software provides both local steganography and network steganography features which can be utilized to protect one's privacy.</p>
      <a class="nav-item nav-link" id="Dashboard" href="/dashboard"><button class="cta-button">Continue to Dashboard</button></a>
    </div>
  </body>
</html>
