<html>
    <head>
        <link rel="stylesheet" href="static/featurelist.css">
    </head>

    <body>
      <div class="card-container">

        <div class="card">
          <div class="card-heading">
            <h2>Any in Any (General use only)</h2>
          </div>
          <div class="card-body">
            <p>This method uses a simple technique to hide any file content in any file. You can also extract the content of the file and get back the original secret file from the embedded file</p>
            <a class="nav-item nav-link" id="anytoany" href="anytoany"><button class="button">Do It</button></a>
          </div>
        </div>

        <div class="card">
          <div class="card-heading">
            <h2>Text in Image</h2>
          </div>
          <div class="card-body">
            <p>This method is specially designed to embed text content in the pixels of the Image. The software provides option to restore the secret data too!</p>
            <a class="nav-item nav-link" id="texttoimg" href="texttoimg"><button class="button">Do It</button></a>
          </div>
        </div>

        <div class="card">
          <div class="card-heading">
            <h2>Text in Audio</h2>
          </div>
          <div class="card-body">
            <p>This method is specially designed to embed text content in the Audio. The software provides option to restore the secret data too!</p>
            <a class="nav-item nav-link" id="texttoaudio" href="texttoaudio"><button class="button">Do It</button></a>
          </div>
        </div>
        
        <!-- add more cards here if needed -->
      </div>
      
          
    </body>
</html>