<!DOCTYPE html>
<html>
  <head>
    <title>File Encoding/Decoding</title>
    <link rel="stylesheet" href="static/text-to-file-l1.css">
  </head>
  <body>
    <div class="container">
      <div class="section">
        <h1>File Encoding</h1>
        <form action="{{ url_for('views.imageencode') }}" method="POST">
          <div class="form-group">
            <label for="file-encode">Select File:</label>
            <input type="file" id="file-encode" name="file-encode">
          </div>
          <div class="form-group">
            <label for="secret-key-encode">Secret Data:</label>
            <input type="text" id="secret-key-encode" name="secret-key-encode">
          </div>
          <button type="submit" class="submit-button">Encode File</button>
        </form>
      </div>
      <div class="section">
        <h1>File Decoding</h1>
        <form action="{{ url_for('views.imagedecode') }}" method="POST">
          <div class="form-group">
            <label for="file-decode">Select Encoded File:</label>
            <input type="file" id="file-decode" name="file-decode">
          </div>
          <button type="submit" class="submit-button">Decode File</button>
        </form>
      </div>
    </div>
  </body>
</html>
